<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="x5-page-mode" content="default">
    <title>111</title>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- css start-->
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type='text/css' media="all" />
    <link href="__PUBLIC__/css/dashboard.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="__PUBLIC__/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <link href="__PUBLIC__/css/toastr.min.css" rel="stylesheet">
    <link href="__PUBLIC__/plugins/nice-validator/jquery.validator.css" rel="stylesheet">
    <link href="__PUBLIC__/plugins/fileinput/css/fileinput.css" rel="stylesheet">
    <!-- js start-->
    <script src="__PUBLIC__/js/jquery-2.1.4.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/responsiveslides.min.js"></script>
    <script src="__PUBLIC__/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/toastr.min.js"></script>
    <script src="__PUBLIC__/plugins/nice-validator/jquery.validator.min.js?local=zh-CN"></script>
    <script src="__PUBLIC__/plugins/fileinput/js/fileinput.js"></script>
    <script>
        $(document).ready(function() {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $("#headUp").fileinput({
                language: 'zh',
                //dropZoneTitle: "",
                showCaption:false,//显示输入栏
                showRemove:false,
                uploadUrl:'__APP__/Home/Course/imgUp/rootpath/user/savepath/head/size/5242880',//上传地址
                allowedFileExtensions : ['jpg', 'png', 'jpeg'],//允许的文件后缀
                maxFilesNum: 1,//最大文件上传数量
                //previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                //showUploadedThumbs:false,
                deleteUrl:'__APP__/Home/Course/imgDel',
                enctype: 'multipart/form-data',
                //initialPreviewAsData: true,
                showPreview:false
        }).on("fileuploaded", function(event, data,previewId,index){
                $("#editHead").attr('src',data.response['initialPreview'][0]);
                $("#headUpPic").val(data.response['initialPreview'][0]);
            }).on("filedeleted",function(event,key){          //删除回调函数
                $("#headUpPic").val("");
            });
        });

    </script>
    <style>
        #editHead {
            border-radius: 50%;
            border: 0;
            width: 80px;
            height: 80px;
        }
        .signup {
            float: none !important;
            margin: auto;
            border-left: none;
        }
        #next{
            margin: 0;
        }
        #small-dialog3, #small-dialog{
            text-align: left;
        }
        ul li{
            list-style-type:none
        }
    </style>
    <script>
        $(function () {
            //警告框设置
            toastr.options = {
                closeButton: false,//是否显示关闭按钮
                debug: false,//是否使用debug模式
                progressBar: true,//是否显示进度条
                positionClass: "toast-top-center",
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                timeOut: "2000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut"
            };
            $.validator.setTheme('bootstrap', {
                validClass: 'has-success',
                invalidClass: 'has-error',
                bindClassTo: '.form-group',
                formClass: 'n-default n-bootstrap',
                msgClass: 'n-right'
            });
            $.validator("#form1", {
                fields: {
                    username: {
                        rule: "required; length(6~);remote(get:__APP__/Home/Login/usernameOk)",
                        msg: {
                            required: "请填写账号",
                            length:"至少填写6位账号",
                        },
                        tip: "用于登录的账号",
                        ok: "名字可以使用",
                        timely: 1,
                        target: "#usernameMsg",
                    },
                    password: {
                        rule: "密码:required; length(6~)",
                        msg: {
                            required: "请填写密码",
                            length:"至少填写6位数密码",
                        },
                        tip: "用于登录的密码",
                        ok: "",
                        timely: 3,
                        target: "#pwdMsg"
                    },
                    pwdAgain: {
                        rule:"required; match(password)",
                        msg: {
                            required: "请填写密码",
                            match:"两次密码不一致",
                        },
                        tip: "请确保两次密码一致",
                        ok: "",
                        timely: 3,
                        target: "#verMsg"
                    },
                    name: {
                        rule: "required",
                        msg: {
                            required: "请填写姓名",
                        },
                        tip: "填写真实姓名有助于朋友找到你",
                        ok: "",
                        timely: 1,
                        target: "#nameMsg"
                    },
                    class: {
                        rule: "required",
                        msg: {
                            required: "请填写所在班级",
                        },
                        tip: "请如实填写班级",
                        ok: "",
                        timely: 1,
                        target: "#classMsg"
                    },
                    email: {
                        rule: "required;email; remote(get:__APP__/Home/Login/emailOk)",
                        msg: {
                            required: "请填写邮箱",
                        },
                        tip: "邮箱用于验证",
                        ok: "",
                        timely: 1,
                        target: "#emailMsg",
                    },
                    verCode: {
                        rule: "required;remote(get:__APP__/Home/Login/verCodeOk)",
                        msg: {
                            required: "请填写验证码",
                        },
                        tip: "请查看邮箱中的验证码",
                        ok: "验证码一致",
                        timely: 1,
                        target: "#codeMsg"
                    },
                },
                messages: {
                    email: "请填写正确的邮箱",
                },
                valid: function(form){
                    // 表单验证通过，提交表单
                    $.ajax({
                        url: "__APP__/Home/Login/addStu",
                        type: "POST",
                        async: true,
                        data: $("#form1").serialize(),
                        success: function (data) {
                            if (data['code'] == 1) {
                                toastr.success(data['msg'], 'OK');
                                setTimeout(function() {
                                    window.location.href = "__APP__/Home";
                                }, 2000);
                            } else {
                                toastr.error(data['msg'], 'ERROR');
                            }
                        }
                    });
                }
            });

            $('#form2').validator({
                fields: {
                    username: {
                        rule: "required",
                        msg: {
                            required: "请填写账号",
                        },
                        tip: "用于登录的账号",
                        ok: "",
                        timely: 1,
                        target: "#usernameMsg1",
                    },
                    password: {
                        rule: "密码:required;",
                        msg: {
                            required: "请填写密码",
                        },
                        tip: "用于登录的密码",
                        ok: "",
                        timely: 1,
                        target: "#pwdMsg1"
                    },
                },
                valid: function(form) {
                    $.ajax({
                        url: "__APP__/Home/Login/login",
                        type: "POST",
                        async: true,
                        data: $("#form2").serialize(),
                        success: function (data) {
                            if (data['code'] == 1) {
                                toastr.success(data['msg'], 'OK');
                                setTimeout(function () {
                                    window.location.href = "__APP__/Home";
                                }, 2000);
                            } else {
                                toastr.error(data['msg'], 'ERROR');
                            }
                        }
                    });
                }
            });

            $('#rePwd').validator({
                fields: {
                    password2: {
                        rule: "密码:required; length(6~)",
                        msg: {
                            required: "请填写密码",
                            length:"至少填写6位数密码",
                        },
                        tip: "用于登录的密码",
                        ok: "",
                        timely: 3,
                        target: "#pwdMsg2"
                    },
                    pwdAgain2: {
                        rule:"required; match(password2)",
                        msg: {
                            required: "请填写密码",
                            match:"两次密码不一致",
                        },
                        tip: "请确保两次密码一致",
                        ok: "",
                        timely: 3,
                        target: "#verMsg2"
                    },
                },
                valid: function(form){
                    $.ajax({
                        url: "__APP__/Home/User/editPwd",
                        type: "POST",
                        async: true,
                        data: $("#rePwd").serialize(),
                        success: function (data) {
                            if (data['code'] == 1) {
                                toastr.success(data['msg'], 'OK');
                                setTimeout(function () {
                                    window.location.reload();
                                }, 2000);
                            } else {
                                toastr.error(data['msg'], 'ERROR');
                            }
                        }
                    });
                }
            });
            /**
             * 邮箱验证下一步
             */
            $("#next").click(function(){
                $.ajax({
                    url:"__APP__/Home/Login/sendVerCode?email="+$("#email").val(),
                    type:"GET",
                    success:function(data) {
                        if(data['code'] == 1){
                            toastr.success(data['msg'], 'OK');
                        }else{
                            toastr.error(data['msg'], 'ERROR');
                        }
                    }
                });
            });

            $("#loginOut").click(function () {
                $.ajax({
                    url: "__APP__/Home/Login/loginOut",
                    type: "get",
                    success: function (data) {
                        if (data['code'] == 1) {
                            toastr.success(data['msg'], 'OK');
                            setTimeout(function() {
                                window.location.href = "__APP__/Home";
                            }, 2000);
                        } else {
                            toastr.error(data['msg'], 'ERROR');
                        }
                    }
                });
            });

            $("#editData").click(function () {
                $.ajax({
                    url: "__APP__/Home/User/getUserData?id={$Think.session.id}",
                    type: "get",
                    success: function (data) {
                        if (data['code'] == 1) {
                            $('#editClass').val(data['data']['class']);
                            $('#editEmail').val(data['data']['email']);
                            $('#editBrief').val(data['data']['brief']);
                            $('#headUpPic').val(data['data']['head']);
                            $('#editHead').attr('src', data['data']['head']);
                        }
                    }
                });
            });

            $("#editSub").click(function () {
                $.ajax({
                    url: "__APP__/Home/User/editUser",
                    type: "post",
                    data: $("#editMsg").serialize(),
                    success: function (data) {
                        if (data['code'] == 1) {
                            toastr.success(data['msg'], 'OK');
                            setTimeout(function() {
                                window.location.reload();
                            }, 2000);
                        } else {
                            toastr.error(data['msg'], 'ERROR');
                        }
                    }
                });
            });
        });
    </script>
    <block name="head"></block>
</head>
<body>
<!-- nav start -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><h1>
                <img src="__PUBLIC__/images/logo.png" alt="" style="width: 153px;height: 49px;"/></h1></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="top-search">
                <form class="navbar-form navbar-right" action="__APP__/Home/Course/allCourse" method="get">
                    <input type="text" class="form-control" placeholder="<empty name='search'>Search...<else/>{$search}</empty>" name="search">
                    <input type="submit" value=" ">
                </form>
            </div>
            <div class="header-top-right">
                <empty name="Think.session.username">
                    <!--<div class="file">-->
                        <!--<a href="upload.html">Upload</a>-->
                    <!--</div>-->
                    <div class="signin">
                        <a href="#small-dialog3" class="play-icon popup-with-zoom-anim">注册</a>
                    </div>
                    <!-- 登录按钮-->
                    <div class="signin">
                        <a href="#small-dialog" class="play-icon popup-with-zoom-anim">登录</a>
                    </div>
                <else />

                    <div class="signin">
                        <span>欢迎,{$Think.session.name}</span>
                        <a href="#small-dialog6" class="play-icon popup-with-zoom-anim" style="padding: 5px 5px;" id="editData">个人信息</a>
                        <a href="#small-dialog7" class="play-icon popup-with-zoom-anim" style="padding: 5px 5px;">修改密码</a>
                        <a href="#" id="loginOut" class="play-icon popup-with-zoom-anim" style="padding: 5px 5px;">退出</a>
                    </div>

                </empty>

                <!-- 登录框-->
                <div id="small-dialog" class="mfp-hide">
                    <h3>登录</h3>
                    <div class="col-sm-12 col-md-6 col-md-offset-3 login1">
                        <form id="form2" data-validator-option="{theme:'bootstrap', timely:2, stopOnError:true}">
                            <div class="form-group">
                                <label class="control-label">账号</label>
                                <input type="text" class="form-control" name="username">
                                <span class="msg-box" id="usernameMsg1"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">密码</label>
                                <input type="password" class="form-control" name="password">
                                <span class="msg-box" id="pwdMsg1"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">登录</button>
                                <button type="reset" class="btn btn-default">重置</button>
                            </div>
                        </form>
                        <div class="button-bottom">
                            <p>没有账号? <a href="#small-dialog3" class="play-icon popup-with-zoom-anim">点击注册</a></p>
                        </div>
                        <div class="forgot">
                            <a href="#">忘记密码?</a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- 修改信息-->
                <div id="small-dialog6" class="mfp-hide">
                    <h3>修改信息</h3>
                    <div class="col-sm-12 col-md-6 col-md-offset-3 login1">
                        <form id="editMsg" data-validator-option="{theme:'bootstrap', timely:2, stopOnError:true}" enctype="multipart/form-data">
                            <div class="form-group">
                                <img id="editHead">
                                <input type="file" id="headUp"  name="headUp[]" value="上传头像">
                            </div>
                            <div class="form-group">
                                <label class="control-label">班级</label>
                                <input type="text" class="form-control" name="editClass" id="editClass">
                            </div>
                            <div class="form-group">
                                <label class="control-label">邮箱</label>
                                <input type="text" class="form-control" name="editEmail" id="editEmail">
                            </div>
                            <div class="form-group">
                                <label class="control-label">简介</label>
                                <textarea class="form-control" name="editBrief" id="editBrief" height="200px"></textarea>
                            </div>
                            <div class="hidden">
                                <input type="hidden" name="headUpPic" id="headUpPic">
                            </div>
                            <div class="form-group">
                                <a href="javascript:;" id="editSub" class="btn btn-primary">保存</a>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- 修改密码-->
                <div id="small-dialog7" class="mfp-hide">
                    <h3>修改密码</h3>
                    <div class="col-sm-12 col-md-6 col-md-offset-3 login1">
                        <form id="rePwd" data-validator-option="{theme:'bootstrap', timely:2, stopOnError:true}" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="control-label">新密码</label>
                                <input type="password" class="form-control" name="password2">
                                <span class="msg-box" id="pwdMsg2"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">确认密码</label>
                                <input type="password" class="form-control" name="pwdAgain2">
                                <span class="msg-box" id="verMsg2"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="editSub2" class="btn btn-primary">保存</button>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- 注册框 -->
                <div id="small-dialog3" class="mfp-hide">
                    <h3>注册账号</h3>
                    <div class="col-sm-12 col-md-6 col-md-offset-3 login1">
                        <form id="form1" data-validator-option="{theme:'bootstrap', timely:2, stopOnError:true}">
                            <div class="form-group">
                                <label class="control-label">账号</label>
                                <input type="text" class="form-control" name="username">
                                <span class="msg-box" id="usernameMsg"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">密码</label>
                                <input type="password" class="form-control" name="password">
                                <span class="msg-box" id="pwdMsg"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">确认密码</label>
                                <input type="password" class="form-control" name="pwdAgain">
                                <span class="msg-box" id="verMsg"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">姓名</label>
                                <input type="text" class="form-control" name="name" placeholder="如：张三">
                                <span class="msg-box" id="nameMsg"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">班级</label>
                                <input type="text" class="form-control" name="class" placeholder="如：网络工程141">
                                <span class="msg-box" id="classMsg"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="text" class="form-control" name="email" id="email">
                                <button type="button" id="next">获取验证码</button>
                                <span class="msg-box" id="emailMsg"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">验证码</label>
                                <input type="text" class="form-control" name="verCode">
                                <span class="msg-box" id="codeMsg"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">注册</button>
                                <button type="reset" class="btn btn-default">重置</button>
                            </div>
                        </form>
                        <div class="button-bottom">
                            <p>已经有账号了? <a href="#small-dialog" class="play-icon popup-with-zoom-anim">登录</a>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</nav>
<!-- nav end -->

<!-- sidebar start-->
<div class="col-sm-3 col-md-2 sidebar">
    <div class="top-navigation">
        <div class="t-menu">MENU</div>
        <div class="t-img">
            <img src="__PUBLIC__/images/lines.png" alt="" />
        </div>
        <div class="clearfix"> </div>
    </div><!--  移动端显示-->
    <div class="drop-navigation drop-navigation">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="__APP__/Home/Index/index" class="home-icon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>主页</a></li>
            <li><a href="__APP__/Home/Course/allCourse" class="user-icon"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>所有课程</a></li>
            <li><a href="#" class="menu1"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>课程管理<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
            <ul class="cl-effect-2">
                <switch name="Think.session.category">
                    <case value="3">
                        <li><a href="__APP__/Home/Course/myCourse?id={$Think.session.id}">我的选课</a></li>
                    </case>
                    <case value="2">
                        <li><a href="__APP__/Home/Course/newCourse">开设新课程</a></li>
                        <li><a href="__APP__/Home/Course/manageCourse?status=-1&type=teacher&id={$Think.session.id}">我的教学</a></li>
                    </case>
                    <case value="1">
                        <li><a href="__APP__/Home/Course/manageCourse?status=0">审核课程</a></li>
                        <li><a href="__APP__/Home/Course/question_import">上传题库</a></li>
                    </case>
                </switch>
            </ul>
            <eq name="Think.session.category" value="1">
            <li><a href="#" class="menu2"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>视频管理<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
            </li>
            <ul class="cl-effect-3" style="display: none;">
                <li><a href="__APP__/Home/Video/manageVideo?status=0">审核视频</a></li>
            </ul>
            <li><a href="__APP__/Home/User/manageUser"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>账号管理</a>
            </li>
            </eq>
            <!-- script-for-menu -->
            <script>
                $( "li a.menu1" ).click(function() {
                    $( "ul.cl-effect-2" ).slideToggle( 300, function() {
                        // Animation complete.
                    });
                });
                $( "li a.menu2" ).click(function() {
                    $( "ul.cl-effect-3" ).slideToggle( 300, function() {
                        // Animation complete.
                    });
                });
            </script>

        </ul>
        <!-- script-for-menu -->
        <script>
            $( ".top-navigation" ).click(function() {
                $( ".drop-navigation" ).slideToggle( 300, function() {
                    // Animation complete.
                });
            });
        </script>
    </div>
</div>
<!-- sidebar end-->

<!-- main start-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="main-grids">
    <block name="content"></block>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="footer-grids">
            <div class="footer-top">
                <div class="footer-top-nav">
                    <div class="copyright">
                        <p>Copyright &copy; 2018.shenyu All rights reserved.<a target="_blank" href="#"></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //footer -->
</div>
<!-- main end-->

<div class="clearfix"> </div>
<div class="drop-menu">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another link</a></li>
    </ul>
</div>
</body>
</html>