<extend name="Public:menu"/>
<block name="head">
    <style>
        .recommended-grid{
            margin-bottom: 15px;
        }

        .apply-active{
            color: #00aced;
        }
        @media (max-width: 480px) {
            .clearfix-sm:after{
                clear:both;
                content:".";
                display:block;
                height:0;
                line-height:0;
                visibility:hidden;
            }
        }
    </style>
</block>
<block name="content">
    <div class="container-fluid">
            <div class="top-grids">
                <div class="recommended-info">
                    <h3>最新课程</h3>
                </div>
                <empty name="new">暂无内容</empty>
                <div class="row">
                <volist name="new" id="v" key="k">

                            <div class="col-md-3 col-sm-4 col-xs-12 resent-grid recommended-grid slider-first">
                                <div class="resent-grid-img recommended-grid-img">
                                    <a href="__APP__/Home/Course/detail?id={$v['id']}">
                                        <img class="img" src="<php>
                                if($v['pic'] != '') echo $v['pic'];
                                else echo '/IStudy/Upload/course/showimage/default.png';
                                </php>" alt="" />
                                    </a>
                                </div>
                                <div class="resent-grid-info recommended-grid-info">
                                    <h3 style="border-bottom: 1px solid #f01212;">
                                        <a href="__APP__/Home/Course/detail?id={$v['id']}" class="title title-info">
                                            {$v['title']}
                                        </a>
                                    </h3>
                                    <p class="author author-info"><eq name="v['apply']" value="1"><span class="apply-active">报名中</span><else/>已结束</eq></p>
                                    <p class="views views-info" style="text-align: right">{$v['people']}人已报名</p>
                                </div>
                            </div>
                            <php>if($k % 2 == 0)echo "<div class='clearfix-sm'></div>";</php>
                </volist>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="recommended">
                <div class="recommended-grids">
                    <div class="recommended-info">
                        <h3>热门课程</h3>
                        <empty name="hot">暂无内容</empty>
                        <div class="row">
                            <volist name="hot" id="v" key="k">

                                <div class="col-md-3 col-sm-4 col-xs-12 resent-grid recommended-grid slider-first">
                                    <div class="resent-grid-img recommended-grid-img">
                                        <a href="__APP__/Home/Course/detail?id={$v['id']}">
                                            <img class="img" src="<php>
                                if($v['pic'] != '') echo $v['pic'];
                                else echo '/IStudy/Upload/course/showimage/default.png';
                                </php>" alt="" />
                                        </a>
                                    </div>
                                    <div class="resent-grid-info recommended-grid-info">
                                        <h3 style="border-bottom: 1px solid #f01212;">
                                            <a href="__APP__/Home/Course/detail?id={$v['id']}" class="title title-info">
                                                {$v['title']}
                                            </a>
                                        </h3>
                                        <p class="author author-info"><eq name="v['apply']" value="1"><span class="apply-active">报名中</span><else/>已结束</eq></p>
                                        <p class="views views-info" style="text-align: right">{$v['people']}人已报名</p>
                                    </div>
                                </div>
                                <php>if($k % 2 == 0)echo "<div class='clearfix-sm'></div>";</php>
                            </volist>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
    </div>
</block>