<extend name="Public:menu"/>
<block name="head">
    <link href="__PUBLIC__/plugins/fileinput/css/fileinput.css" rel="stylesheet">
    <script src="__PUBLIC__/plugins/fileinput/js/fileinput.js"></script>
</block>
<block name="content">
    <div class="recommended-info">
        <h3>开设课程</h3>
    </div>
    <div class="container-fluid"><div class="row">
        <div class="col-sm-8">
            <form id="course" enctype="multipart/form-data" class="myform">
                <div class="form-group">
                    <label for="title">课程名</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="课程名不超过50字">
                    <span class="msg-box" id="titleMsg"></span>
                </div>
                <div class="form-group">
                    <label for="title">上课日期</label>
                    <input type="text" class="form-control" id="date" name="date" placeholder="格式: 2018-04-11至2018-05-20">
                    <span class="msg-box" id="dateMsg"></span>
                </div>
                <div class="form-group">
                    <label for="title" style="margin-right: 20px">课程总时长</label>
                    <input type="text" class="form-control" id="sumtime" name="sumtime" placeholder="整数,格式: 8" style="max-width: 200px">
                    <label for="title">小时</label>
                    <span class="msg-box" id="sumtimeMsg"></span>
                </div>
                <div class="form-group">
                    <label for="title" style="margin-right: 20px">课程难度</label>
                    <select name="hard" id="hard" class="form-control" style="max-width: 200px">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label for="title">星</label>
                    <span class="msg-box" id="hardMsg"></span>
                </div>
                <div class="form-group">
                    <label for="title">限定班级</label>
                    <textarea type="text" class="form-control" id="class" name="class" placeholder="格式：无 或 网络工程141,网络工程142" high="300px"></textarea>
                    <span class="msg-box" id="classMsg"></span>
                </div>
                <div class="form-group">
                    <label for="brief">课程简介</label>
                    <textarea class="form-control" id="brief" name="brief" placeholder="介绍下你的课程吧" high="300px"></textarea>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <label for="showpic">课程封面</label>
                        <input type="file" id="showpic"  name="pic[]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary mybtn">确定</button>
                    <button type="reset" class="btn btn-default mybtn">重置</button>
                    </div>
                </div>
                <div id="hidden">
                    <input type="hidden" name="teacher_id" value="{$Think.session.id}">
                    <input type="hidden" value="" id="picture" name="showpic">
                </div>
            </form>
        </div>
        <script>
            $('#course').validator({
                fields: {
                    title: {
                        rule: "required; length(~50)",
                        msg: {
                            required: "课程名必填",
                        },
                        ok: "",
                        timely: 1,
                        target: "#titleMsg",
                    },
                    date: {
                        rule: "required; date",
                        msg: {
                            required: "上课日期必填",
                        },
                        ok: "",
                        timely: 1,
                        target: "#dateMsg",
                    },
                    sumtime: {
                        rule: "required; integer(+)",
                        msg: {
                            required: "上课时间必填",
                        },
                        ok: "",
                        timely: 1,
                        target: "#sumtimeMsg",
                    },
                    class: {
                        rule: "required",
                        msg: {
                            required: "上课班级必填",
                        },
                        ok: "",
                        timely: 1,
                        target: "#classMsg",
                    },
                },
                rules:{
                    date:[/^([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8])))?(?:至)([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8])))/,"请检查填写的日期或格式是否正确"],
                    time:[/([\u4e00-\u9fa5]+)|(^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9])$/,"请检查填写的时间格式是否正确"]
                },
                valid: function(form) {
                    $.ajax({
                        url: "__APP__/Home/Course/add",
                        type: "POST",
                        async: true,
                        data: $("#course").serialize(),
                        success: function (data) {
                            if (data['code'] == 1) {
                                toastr.success(data['msg'], 'OK');
                                setTimeout(function () {
                                    window.location.href = "__APP__/Home/Course/myCourse?id={$Think.session.id}";
                                }, 2000);
                            } else {
                                toastr.error(data['msg'], 'ERROR');
                            }
                        }
                    });
                }
            });
        </script>
        <script>
            $("#showpic").fileinput({
                language: 'zh',
                dropZoneTitle: "上传图片640 * 350分辨率效果更好",
                showCaption:false,//显示输入栏
                showRemove:false,
                uploadUrl:'__APP__/Home/Course/imgUp/rootpath/course/savepath/showimage/size/5242880',//上传地址
                allowedFileExtensions : ['jpg', 'png', 'jpeg'],//允许的文件后缀
                maxFilesNum: 1,//最大文件上传数量
                //previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                //showUploadedThumbs:false,
                deleteUrl:'__APP__/Home/Course/imgDel',
                enctype: 'multipart/form-data',
                initialPreviewAsData: true,
                   initialPreview: [],
//                    <if condition="$itemInfo['picture'] neq null">
//                        "{$itemInfo['picture']}"
//                        </if>
//            ],//初始化预览
            initialPreviewConfig: [],
//            <if condition="$itemInfo['picture'] neq null">
//                {
//                    width: '213.33px',
//                    url: '__APP__/Admin/Uploadify/delupload', // 删除地址
//                    key: "{$itemInfo['picture']}",
//                    // extra: {id: 100}
//                    //previewAsData:false,
//                },
//                </if>
//            ],//初始化预览配置
            }).on("fileuploaded", function(event, data,previewId,index){
//                $("#showpic").fileinput({
//                    initialPreview: [ data['initialPreview']['file_data']],
//                    initialPreviewConfig: [
//                        data['initialPreviewConfig']['file_data']
//                    ]
//                });
                $("#picture").val(data.response['initialPreview'][0]);
            }).on("filedeleted",function(event,key){          //删除回调函数
                $("#picture").val("");

            });
        </script>
    </div> </div>
</block>