<extend name="Public:menu"/>
<block name="head">
    <style>
        ul{
            padding-left: 0;
        }
        .myvideo{
            width: 100%;
            height: auto;
            display:block;
        }
        .mywrap{
            min-height: 1px;
        }

        .video-menu{
            width: 100%;
            border-bottom: 1px solid #D1D6DA;
            height: 70px;
            background-color: #fff;
        }
        .video-menu-item{
            float: left;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        .video-menu a, .video-ul-li a{
            display: block;
            padding: 26px 24px;
            font-size: 16px;
            color: #4d555d;
            font-weight: 700;
            text-decoration: none;
        }
        .video-menu a.active, .video-menu a:hover, .video-ul-li a:hover{
            color: #00b43c;
        }
        a, a.active, a:hover, a:focus{
            outline: 0;
        }
        .video-ul{
            position: absolute;
            right: 0px;
            top: 0;
            height: 70px;
            padding-left: 0;
            z-index: 999;
        }
        .video-ul-li{
            text-align: center;
            background: #363C40;
            margin: 10px 0;
            display: block;
        }
        .video-ul-li a{
            padding: 20px 10px;
            color: #B5B9BC;
        }
        .li-avator{
            float: left;
            width: 40px;
            height: 40px;
        }
        .li-avator img{
            display: block;
            border-radius: 50%;
            border: 0;
            width: 40px;
            height: 40px;
        }
        .li-main{
            margin-left: 60px;
        }
        .li-main-name{
            line-height: 1.2;
            margin-bottom: 8px;
        }
        .li-main-content{
            margin-top: 3px;
            font-size: 14px;
            color: #14191e;
            line-height: 24px;
            word-wrap: break-word;
            white-space: pre-wrap;
            overflow: auto;
        }
        .li-main-btm{
            font-size: 12px;
            color: #93999f;
            margin-top: 15px;
        }

    </style>
    <script>
        $(function () {
            var myVideo=document.getElementById("myvideo");
            myVideo.addEventListener('play',function(){
                $('.video-ul-li').hide();
            });
            myVideo.addEventListener('pause',function(){
                $('.video-ul-li').show();
            });
//            $(window).beforeunload(function () {
//                alert(111);
//            });

            /**
             * 发表评论
             */
            $('#comment').validator({
                fields: {
                    content: {
                        rule: "required;",
                        msg: {
                            required: "内容必填",
                        },
                        ok: "",
                        timely: 1,
                        target: "#contenMsg",
                    },
                },
                valid: function(form) {
                    $.ajax({
                        url: "__APP__/Home/Comment/add",
                        type: "POST",
                        async: true,
                        data: $("#comment").serialize(),
                        success: function (data) {
                            if (data['code'] == 1) {
                                toastr.success(data['msg'], 'OK');
//                                setTimeout(function () {
//                                    window.location.href = "__APP__/Home/Course/myCourse?id={$Think.session.id}";
//                                }, 2000);
                            } else {
                                toastr.error(data['msg'], 'ERROR');
                            }
                        }
                    });
                }
            });


//            function getComments(pageno) {
//                $.ajax({
//                    type:"GET",
//                    url:"__APP__/Home/Comment/get/id/{$result['id']}/page/"+pageno,
//                    error:function () {
//                        $("#comment-ul").html("获取评论失败");
//                    },
//                    success:function (data) {
//                        $("#comment-ul").empty().html(data);
//                    }
//                });
//            }
        });
        //禁止拖动进度条
        var int = self.setInterval("ban()", 100);
        var before = 0;
        function ban() {
            var video = document.getElementById("myvideo"); //获取video对象
            var now = video.currentTime;
            var dif = now - before;//差值
            if(dif>1){
                video.currentTime = before;
            }
            before = now;
        }
    </script>
</block>
<block name="content">
    <div class="container-fluid">
    <div class="row mywrap">
        <div class="col-sm-12" >
            <div class="title" style="overflow: hidden">
                <h1>视频标题视频标题视频标题视频标题视频标题视频标题视频标题视频标题视频标题视频标题视频标题</h1>
            </div>
            <div style="position: relative">
            <video id="myvideo" src="/IStudy/Upload/video/4.mp4" controls class="myvideo" playsinline -webkit-playsinline>
            </video>
            <ul class="video-ul" id="video-ul">
                <li class="video-ul-li">
                    <a href="javascript:void(0)">收藏</a>
                </li>
                <li class="video-ul-li">
                    <a href="javascript:void(0)">在手机上看</a>
                </li>
            </ul>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-7">
            <ul class="video-menu">
            <li class="video-menu-item"><a class="active" href="javascript:void(0)" id="plMenu">评论</a></li>
            <li class="video-menu-item"><a href="javascript:void(0)" id="qaMenu" class="">问答</a></li>
            </ul>
            <div style="display: block; padding-top: 24px;">
                <form id="comment">
                    <div class="form-group">
                        <textarea name="content" class="form-control" rows="4" placeholder="发表你的看法" style="resize:none;"></textarea>
                        <span class="msg-box" id="contenMsg"></span>
                    </div>
                    <input type="hidden" name="user_id" value="{$Think.session.id}">
                    <input type="hidden" name="video_id" value="{$video}">
                    <div class="form-group">
                    <button class="btn btn-default" type="submit">发表评论</button>
                    </div>
                </form>
                <div style="border-top: 1px solid #d9dde1;">
                    <ul id="comment-ul">
                        <volist name="comment" id="v">
                        <li style="padding: 20px 24px;border-bottom: 1px solid #d9dde1;">
                            <div class="li-avator">
                                <img src="{$v['head']}">
                            </div>
                            <div class="li-main">
                                <div class="li-main-name">{$v['name']}</div>
                                <div class="li-main-content">{$v['content']}</div>
                                <div class="li-main-btm clearfix">
                                    <span style="float: left;">{$v['create_time']}</span>
                                    <a style="float: right;" href="javascript:void(0)"><i class="glyphicon glyphicon-thumbs-up"></i><span>{$v['support_num']}</span></a>
                                </div>
                            </div>
                        </li>
                        </volist>
                        <li style="padding: 20px 24px;border-bottom: 1px solid #d9dde1;">
                            <div class="li-avator">
                                <img src="/IStudy/Upload/course/showimage/2018/04-13/5ad01cd7f1666.jpg">
                            </div>
                            <div class="li-main">
                                <div class="li-main-name">姓名</div>
                                <div class="li-main-content">说的内容说的内容说的内容说的内容说的内容说的内容说的内容说的内容说的内容说的内容说的内容说的内容说的内容说的内容说的内容</div>
                                <div class="li-main-btm clearfix">
                                    <span style="float: left;">2018-02-02 11:11:11</span>
                                    <a style="float: right;" href="javascript:void(0)"><i class="glyphicon glyphicon-thumbs-up"></i><span>2</span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="">
                <h3>学霸榜</h3>
                <ul>
                    <li>名字   学习时长：2221小时</li>
                    <li>名字   学习时长：2221小时</li>
                    <li>名字   学习时长：2221小时</li>
                    <li>名字   学习时长：2221小时</li>
                </ul>
            </div>
            <div>
                <h3>名师榜</h3>
                <ul>
                    <li>名字   获得称赞：2221个</li>
                    <li>名字   获得称赞：2211个</li>
                    <li>名字   获得称赞：2121个</li>
                    <li>名字   获得称赞：1221个</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</block>